.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.flag {
	float: right;
	height: 32px;
	width: 32px;
	margin-right: 5px;
	margin-top: 5px;
	cursor: pointer;
}
.container {
    margin-top: 70px;
}

.rufname {
    text-decoration: underline;
}