.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.flag {
	float: right;
	height: 32px;
	width: 32px;
	margin-right: 5px;
	margin-top: 5px;
	cursor: pointer;
}
.container {
    margin-top: 70px;
}

.rufname {
    text-decoration: underline;
}

.rightalign {
    text-align: right;
}

.loading-spinner .ai-white-spin {
    border-color: rgba(25,25,25,.5)rgba(25,25,25,.5)#888 #333;
    margin-top: 150px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}